#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-section {
  background-color: hsla(297, 32%, 77%, 1);
}

.main-section {
  background-color: hsla(235, 76%, 90%, 1);
  flex: 1;
}

.footer-section {
  background-color: hsla(272, 53%, 66%, 1);
}